.App {
  text-align: center;
}

nav{
  list-style:none;
}

nav li{
  display: inline-block;
}

li, a{
  text-decoration: none;
  font-family: "Sigmar One";
  color: white;
  font-size: 25px;
  margin-right: 20px;
}

li:nth-child(3){
  margin-right: 80px;
}

