
h3{
    font-family: monospace;
    font-size: xx-large;

}

.buttonlog {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: monospace;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 0px;
  margin: 10px;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.buttonlog:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.buttonlog {
  user-select: auto;
}

.buttonlog:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.buttonlog:disabled {
  cursor: auto;
}

.buttonlog:active {
  border-width: 4px 0 0;
  background: none;
}


.form_log{
  
  box-shadow: inset #abacaf 0 0 0 2px;
  border: 0;
  background: rgba(255, 255, 255, 0);
  appearance: none;
  width: 100%;
  margin: 10px auto;
  text-align: left;
  position: relative;
  border-radius: 3px;
  padding: 9px 12px;
  line-height: 1.4;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: monospace;
  font-weight: bold;
  height: 40px;
  transition: all .2s ease;
  :hover{
      box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 2px;
  }
  :focus{
      background: #fff;
      outline: 2;
      box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 3px;
  }

  ::placeholder{
    font-family: monospace;
    font-weight: bold;
    color: #FFFFFF;
  }

}
.logged_in_status{
  font-family: monospace;
  font-weight: bold;
  color: #FFFFFF;
  font-size: medium;
}