body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.linkCard:hover{
  cursor: pointer;
  background-color: rgba(254,44,84);
}

.linkCard {
  display: flex;
  text-align: center;
  background-color: #333;
  border-radius: 1.25rem;
  color: var(--text_color_1);
  padding: 1.5rem;
  width: 80%;
  overflow: none;
  transition: background-color 0.1s;
}

.stinkCard {
  display: flex;
  text-align: center;
  background-color: pink;
  border-radius: 1.25rem;
  color: var(--text_color_1);
  padding: 1.5rem;
  width: 80%;
  overflow: none;
  transition: background-color 0.1s;
}

.linkCard2 {
  background-color: #333;
  border-radius: 0.5rem;
  color: var(--text_color_1);
  padding: 2rem;
  width: 33%;
  margin: auto;
  overflow: none;
  margin-top: 10px;
}


.linkCardHeader {
  font-weight: bold;
  background-color: transparent;
  margin-bottom: 0.5rem;
}

/* .linkCard i {
  color: white;
  cursor: pointer;
  z-index: 2;
  padding: 0.5rem;
  height: 24px;
} */

.linkCardContainer {
  margin: auto;
  width: 65%;
  overflow: none;
  -ms-overflow-style: none;
  scrollbar-width: none;

  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1.5fr 1.5fr;
  gap: 20px;
  justify-items: center;
  text-align: center;
}

.linkCardMain{
  margin-top: 100px;
  overflow-x: none;
}

.imageBtn{
  padding: 5px 15px;
  margin-top: 10px;
  border-radius: 10%;
  transition: 0.25s box-shadow;
}

.imageBtn:hover{
  box-shadow: 1px 2px rgba(254,44,84);
}
